.newContent {
    margin: 1rem;
    padding: 0.25rem 30%;
    background-color: rgb(39, 39, 39);
} 

.newContent h1 {
        color: rgb(221, 246, 255);
}

.newContent p {
    color: rgb(182, 255, 255);
}