.nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
}

.navLink :link {
    text-decoration: none;
    font-size:  1.75em;
    color:  rgb(255, 255, 255);
}

.navLink :visited {
    color:  rgb(255, 120, 120);
}

.nav * {
    margin: 0 0.5em;
    
}

.navHeader {
    padding: 0.5rem 0;
    background-color: rgb(125, 0, 0);
}